
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Generated data
volumes

# MM License
mm-license.txt

node_modules
npm-debug.log
dev-server/cypress/e2e
dev-server/webhook/src
